img {
  width: 160px;
  height: 540px;
  object-fit: none;
}

.border-radius {
  border-radius: 35px;
}

.pic {
  position: relative;
  top: 50px;
  left: 10px;
}

.mb-10 {
  margin-bottom: 75px;
}

.mr-1 {
  margin-right: 5px;
}

.links {
  margin-top: 75px;
}

@media screen and (max-width: 380px) {
  img {
    width: 100px;
    height: auto;
  }
  .about {
    position: relative;
    top: 50px;
  }
}

@media screen and (max-width: 768px) {
  .about {
      position: relative;
      top: 75px;
    }
}