.img-size {
  max-width: 120px;
  height: auto;
  object-fit: contain;
}

.marginTB-75 {
  margin-top: 75px;
  margin-bottom: 75px;
}

@media screen and (max-width: 380px) {
  .img-size {
    max-width: 80px;
  }
}